REACT_APP_API_URL=http://localhost:5000
REACT_APP_SITE_URL=https://algeriatravel.com

# Firebase (Console → Paramètres projet → Vos applications → Config)
REACT_APP_FIREBASE_API_KEY=TON_API_KEY
REACT_APP_FIREBASE_VAPID_KEY=BEhwHkpMuA62eyXN2EzRn0TIZg8uC8bsU8OImw4E5skGnYCwTVgJ1QxQmbcmjaR6uQvXBnKPEgQAPvjjxBmfNt0
